*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
}

html{
    box-sizing: border-box;
    font-size:62.5%;
}

body{
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}



/*Navigation Bar*/
.navbar-main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0);
    position: sticky;
    top: 0;
    z-index:5;
    width:100%;
    
}


.navbar-main ul{
    display:flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar-main ul li{
    font-size: 1.1rem;
    font-weight: bold;
}

.navbar-main ul li a{
    text-decoration: none;
    color: white;
    padding: 30px 80px;
    transition: all .5s ease;

}

.navbar-main ul li a:hover{
    background-color: rgb(201, 195, 183);
    color: black;
    box-shadow: 0 0 10px white;
}

/*Home Section*/
#home{
    display:flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0);
    background-image:url(/images/giphy.gif) ;
    background-repeat: no-repeat;
    background-position: right;
    background-size:60% 100%;
    height: 840px;
    justify-content: center;
    align-items: center;
    color: black;
    width:100%;
}

#home::before{
    content: "";
    position: absolute;
    top:0;
    right:0;
    background: url() no-repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    position:absolute;
    top: 20%;
    left: 10%;
}

.headings-h1{
    color:white;
    font-size: 10rem;
    text-align: center;
    margin: 30px 0px;
}

.headings-h2{
    color: white;
    font-size: 2rem;
    text-align: center;
    margin: 10px 0px;
}

.btn{
    padding: 30px 70px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    outline: none;
    transition: .6s ease;
    width:30rem;
    height:5rem;
    font-size: 5em;
}

.btn:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 0 0 5px rgb(27, 123, 179), 0 0 10px rgb(27, 123, 179), 0 0 15px rgb(27, 123, 179);
}

.icon ul{
    display:flex;
    list-style: none;
    margin: 30px 30px;
    padding-left:0px;
}

.icon ul li a{
    text-decoration: none;
    padding: 30px 20px;
    transition: all .5s ease;
    width:5rem;
}

.icon ul li a i{
    color: white;
}

.gif{
    position:relative;
    display:block;
    
    width:200px;
    height:100px;
}


/* About Section */
#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: cennter;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
    
}

#about h1{
    color:rgba(0, 0, 0, 1);
    font-size: 4rem;
    text-align: center;
    margin: 30px 0px;
}

#about p{
    font-size: 3rem;
}

#pic{
    display: flex;
    padding: 10%;
}

#pic img{
    width: 200px;
    height: 200px;
}

#intro{
    font-size:1.3rem;
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding:10px;
}

#intro h2{
    font-size: 5rem;
    margin-bottom: 20px;
}

/*Projects Section*/
#projects{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    padding: 20px;
    margin-bottom: 50px;
    
}

#projects h1{
    color:rgba(0, 0, 0, 1);
    font-size: 4rem;
    text-align: center;
    margin: 30px 0px;
}

/*Projects Section ---> Grid Section*/

.grid{
    display: grid;
    width: 114em;
    grid-gap: 6rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    align-items: center;
}

.grid-item{
    background-color: #fff;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s;
}

.grid-item:hover{
    transform: translateY(-0.5%);
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}

.card-img{
    display: block;
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

.card-content{
    padding: 3rem;
}

.card-header{
    font-size: 3rem;
    font-weight: 500;
    color: #0d0d0d;
    margin-bottom: 1.5rem;
}

.card-text{
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    line-height: 1.7;
    color: #3d3d3d;
    margin-bottom: 2.5rem;
}

.card-btn{
    display: block;
    width: 100%;
    padding: 1.5rem;
    font-size:2rem;
    text-align: center;
    color: #3363ff;
    background-color: #d8e0fd;
    border: none;
    border-radius: 0.4rem;
    transition: 0.2s;
    cursor: pointer;
    letter-spacing: 0.1rem;
}

.card-btn:hover,
.card-btn:active{
    background-color: #c2cffc;
}

@media screen and(max-width: 60em){
    body{
        padding: 3rem;
    }

    .grid{
        grid-gap: 3rem;
    }
}